:host {
  display: block;
  border: 1px solid #ccc;
  padding: 7px;
  border-radius: 100px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container:active,
.container:focus {
  background: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background: #2196f3;
  border-radius: 50%;
}

.checkmark:after {
  content: '';
  position: absolute;
  transition: 0.2s all;
}

.checkmark:before {
  content: '';
  position: absolute;
  transition: 0.2s all;
  border-radius: 50%;
  left: 7%;
  top: 7%;
  right: 7%;
  bottom: 7%;
  background: #fff;
}

.container input:checked ~ .checkmark:before {
  left: 50%;
  top: 50%;
  right: 50%;
  bottom: 50%;
}

.container input:checked ~ .checkmark:after {
  transform: rotate(45deg) scaleY(1);
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg) scaleY(0.5);
}

.name {
  height: 25px;
  display: flex;
  align-items: center;
  font-family: Roboto;
  color: #828282;
}
